@import "tailwindcss";


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: "DM Sans", serif;
}
html {
  scroll-behavior: smooth;
}
/* Design System */
h1 {
  font-size: 58px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 42px;
  font-weight: bold;
  line-height: 52px;
  margin: 0;
}

h3 {
  font-size: 22px;
  font-weight: medium;
  line-height: 32px;
  margin: 0;
}

.h-\[500px\] {
  height: 500px;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[200px\] {
  height: 200px;
}


/* General Carousel Styling */
.carousel-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

/* Carousel Slides */
.carousel-slide {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  direction: ltr;
}

.carousel-slide.active {
  display: block;
  opacity: 1;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Navigation Buttons */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #2F1893;
  position: absolute;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s;
}

.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Dots Navigation */
.carousel-dots {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px 0;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: #333;
}

.carousel-testimonials .carousel-slide {
  font-size: 20px;
  font-weight: bold;
}

.carousel-pictures .carousel-slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.animated-arrow {
  animation-name: arrow;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
